wiki
.ipynb_checkpoints
.*fuse*
*.orig
.eggs
.cache
__pycache__

*.py[cod]
.coverage
*credentials

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
dev
dist
eggs
parts
bin
var
sdist
develop-eggs
lib
lib64
